html, body {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;

    background-color: black;
}

.terminal-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Noto Sans Mono", monospace;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #67e016;
}

.terminal-page__content {
    width: 100%;
    height: 100%;
    position: relative;

    overflow: hidden;
}

.terminal-page__background {
    height: 100%;
    overflow: hidden;
    margin: 0 40px;

    font-size: 13px;
    filter: blur(3px);
}

.terminal-page__foreground {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to right, #050a06bf, #090a08);
}

.terminal-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-bottom: 64px;

    border-bottom: 1px solid #67e016;
}

.terminal-page__title {
    font-size: 80px;
    font-family: "Ubuntu Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    color: #67e016;
}

.terminal-page__nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.terminal-page__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 140px;
    padding: 12px;

    border: 1px solid #67e016;
    border-radius: 4px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.terminal-page__link:hover {
    background-color: #141613;
    transform: scale(1.1);
}